<h2><%=h @recent_news.title %></h2>
<p class="subtext"><%=h @recent_news.modified_date %></p>
<p><%=h "#{@recent_news.body[0, 525]} ..." %></p>

<p class="linkhead">
  <%= link_to "read more [+]", blogs_path %>
</p>
