<% if @recent_news %>

  <h2><%=h link_to @recent_news.title, blogs_path %></h2>

  <p class="subtext"><%=h @recent_news.modified_date.strftime('%A, %d %B %Y') %></p>
  <%= "#{RedCloth.new(@recent_news.body).to_html}" %>

<% else %>

  <h2>no news yet.</h2>
  <p class="linkhead">
    <%= link_to "manage your first news here [+]", blogs_path %>
  </p>

<% end %>
