<div id="about">
  <h2>.about stolen shot</h2>
  <p>StolenShot.com is a personal photography portfolio of Marc Vitalis, a hobbyist photographer. His works is mainly on landscape, 
portrait and candid photography. And what portray the reality of life are those stolen shots. . . <p>

<h2>.stolen shots of life</h2>
<p>
I was having this concept in my blog to include a picture and place some quotes in it. But then, I realized that there’s more to pictures than words. And you can’t put words into pictures, because different people have their own interpretation to the photograph presented. I believe that pictures really mean a thousand words.
</p>
<p>
Life behind the camera is more like. . . making your imaginations work. Sometimes I can see figures in the clouds which I never done for years. I only remember doing that when I was a child. I appreciate the quietness of the place and without talking, the nature tells something, not words, not meaning, but something beautiful about them that makes things peaceful. Another different kind of life I was in, as I journeyed from reading, music, then now art.
</p>
<p>
Simple things, like a sundown, watching it falls out from the sky and everything just becomes lonely about it, like their missing it for a day. A silhouette of everything, a tree, a grass, reminds me how simple life is, that sometimes we forgot some basics and makes it complicated. A grass swaying around, I took interest on them too. Seems like they’re really free, flowing with the wind, enjoying with the sun. They seem so independent. I wonder, why can’t we be like that, free and peaceful.
</p>
<p>
Usually, cameras are for getting pictures of people giving their best pose. Smiling, making those funny or sad faces, line up like they are giving they best snapshot of their life on that single picture. But you know what? I did like better those stolen shots, though they won’t capture your best faces, but it tells us more than just a simple smile. It gives us story of their life, how they act normally. It does brings out the natural them. And I do really find answers to questions, what makes people happy? What makes people cry? Why are friends that important? But those answers cannot be defined by words, like love, they have no definition at all.
</p>
<p>
What defines things is what you can see naturally in them. Simple things gives meaning. Natural scenes of people gives definitions to what life is. I’ve seen them laugh, I’ve seen them cry, I’ve seen them turn red in anger. During those moments, I want to capture them, because I want that to be remembered, the best times of their life. I want to say, “I was there”. For me, those are the best perks in life, because these pictures define the meaning of life itself.
</p>
</div>