<div id="page_container">
  <div class="pagebox">
    <%= link_to "view feedbacks", feedbacks_path %> 
  </div>
  <div class="pagebox">
    <%= link_to "import photos from external source", import_path %>
  </div>
  <div class="pagebox">
    <%= link_to "refresh file cache", refresh_path %>
  </div>
</div>
