<div id="error">
  <%= image_tag("error.png") %>
  <h2>Server Error</h2>
  <p>Maybe the thinking servers are tired of thinking what to display. You can try asking them again later by reloading the page.</p>
</div>
