<% content_for :styles do %>
  <link rel="stylesheet" href="stylesheets/lightbox.css" type="text/css" media="screen" />
<% end %>

<% content_for :scripts do %>
	<script src="javascripts/prototype.js" type="text/javascript"></script>
	<script src="javascripts/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
	<script src="javascripts/lightbox.js" type="text/javascript"></script>
<% end %>

<div class="thumbnail">
  <a href="images/BosqueTK.jpg" rel="lightbox[recent]"><img src="images/BosqueTK.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/CurlsbyCandy.jpg" rel="lightbox[recent]"><img src="images/CurlsbyCandy.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Fluffodome.jpg" rel="lightbox[recent]"><img src="images/Fluffodome.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Maraetaibeforesunrise.jpg" rel="lightbox[recent]"><img src="images/Maraetaibeforesunrise.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/space-02.jpg" rel="lightbox[recent]"><img src="images/space-02.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/space-05.jpg" rel="lightbox[recent]"><img src="images/space-05.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/BusquedaNocturna.jpg" rel="lightbox[recent]"><img src="images/BusquedaNocturna.jpg" /></a>
</div>
<div class="thumbnail"
  <a href="images/Daisy.jpg" rel="lightbox[recent]"><img src="images/Daisy.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Icystones2.jpg" rel="lightbox[recent]"><img src="images/Icystones2.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Outoffocus.jpg" rel="lightbox[recent]"><img src="images/Outoffocus.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/SmoothMoment.jpg" rel="lightbox[recent]"><img src="images/SmoothMoment.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/space-03.jpg" rel="lightbox[recent]"><img src="images/space-03.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Warmlights.jpg" rel="lightbox[recent]"><img src="images/Warmlights.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Cornered.jpg" rel="lightbox[recent]"><img src="images/Cornered.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/FallDrops,AncientLight.jpg" rel="lightbox[recent]"><img src="images/FallDrops,AncientLight.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/InthedarkRedux.jpg" rel="lightbox[recent]"><img src="images/InthedarkRedux.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Pointy.jpg" rel="lightbox[recent]"><img src="images/Pointy.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/space-01.jpg" rel="lightbox[recent]"><img src="images/space-01.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/space-04.jpg" rel="lightbox[recent]"><img src="images/space-04.jpg" /></a>
</div>
<div class="thumbnail">
  <a href="images/Yellowflower.jpg" rel="lightbox[recent]"><img src="images/Yellowflower.jpg" /></a>
</div>
