<% content_for :styles do %>
  <link rel="stylesheet" href="stylesheets/lightbox.css" type="text/css" media="screen" />
<% end %>

<% content_for :scripts do %>
  <script src="javascripts/prototype.js" type="text/javascript"></script>
  <script src="javascripts/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
  <script src="javascripts/lightbox.js" type="text/javascript"></script>
<% end %>
<div id="gallery">
  <% Gallery.photos.each do |photo| %>
    <div class="thumbnail">
    <%= render_photo(photo) %>
    </div>
  <% end %>  
</div>
