*.swp

log/*.log
tmp/**/*

config/database.yml
config/config.yml
config/flickr.yml

app/views/shared/_analytics.html.erb
app/views/shared/_about.html.erb

public/images/preview/*
public/images/featured/*

tags

db/*.sqlite3
db/schema.rb

# Other userful tidbits
doc/api
doc/app
