body {
  background-color: black;
  color: gray;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}

#title {
  margin: 0 auto;
  text-align: center;
}

#name {
  color: white;
}

#content {

}

div.thumbnail {
  padding: 3px 3px 8px 3px;
	background-color: #222;
	border: 1px solid #2a2a2a;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

div.thumbnail img {
  width: 200px;
  height: 150px;
}
