body {
  background-color: black;
  background-image: url("../images/bg.jpg");
  background-repeat: repeat-x;
  color: gray;
  font-family: sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

#container {
  width: 1024px;  
  margin-left: auto;
  margin-right: auto;
}
#mini_container {
  margin-left: auto;
  margin-right: auto;
}

#header {
  margin: 15px 15px 15px 15px;
}

#title {
  display: inline;
}

#name {
  color: white;
}

#content {
}

ul#menu {
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
  display: inline;  
}

#menu li {
  display: inline;
  list-style-type: none;
}

#menu a {
  padding: 3px 10px;
}

#menu a:link, a:visited {
  color: gray;
  text-decoration: none;
  float: right;
}

#menu a:hover {
  color: #fff;  
  text-decoration: none;
  float: right;
}

#footer {
  float: left;
  font-size: 12px;
  text-align: center;
  width: 1024px;
  padding: 15px 15px 15px 15px;
}

#footer a {
  float: none;
  text-decoration: none;
  color: #fff;
}

#gallery div.thumbnail {
  padding: 3px 3px 3px 3px;
	background-color: #111;
	border: 1px solid #2a2a2a;
	float: left;
	margin: 10px 10px 10px 10px;
}

#viewer {
  width: 548px;
  height: 412px;
  background-color: black;
  border: 1px solid black;
  color: white;   /* for error messages, etc. */
}

#featured {
  display: inline;
}

#featured div.largepic {
  padding: 3px 3px 3px 3px;
  background-color: #111;
  border: 1px solid #2a2a2a;
  margin: 10px 10px 10px 10px;
  float: left;
}

#featured div.caption {
  float: left;
  width: 418px;
  height: 100px;
  padding: 3px 3px 3px 3px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #2a2a2a;
}

#featured div.caption:hover {
  background-color: #222;
}

#featured div.caption h2 {
  padding: 10px 10px 10px 10px;
  text-align: right;
}

#featured div.caption p {
  font-size: 14px;
  padding: 10px 10px 10px 10px;
}

#featured div.news {
  float: left;
  width: 418px;
  height: 286px;
  padding: 3px 3px 3px 3px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #2a2a2a;
}

#featured div.news:hover {
  background-color: #222;
}

#featured div.news h2 {
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
}

#featured div.news p.subtext {
  padding-top: 0px;
  text-align: right;
  font-size: 10px;
}

#featured div.news p {
  line-height: 130%;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
}

#featured div.news p.linkhead {
  text-align: right;
}

#featured div.news p.linkhead a {
  text-decoration: none;
  color: white;
}

div.pagination {
  display: inline;
  float: left;
  font-size: 14px;
  margin-left: 10px;
  width: 100%;
}

div.pagination a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  float: none;
}
/*
#featured div.largepic img {
  width: 550px;
  height: 412px;
}
*/

#gallery div.thumbnail:hover {
  background-color: #222;
}

#gallery div.thumbnail div.label {
}

#gallery div.thumbnail div.label p {
  text-align: right;
}

#gallery div.thumbnail img {
  width: 310px;
  height: 232px;
  cursor: pointer;
}

#errorExplanation {
padding: 15px 15px 15px 15px;
}

#errorExplanation p {
  padding-top: 10px;
}

#errorExplanation ul {
  list-style-type: square;
  list-style-position: inside;
  padding-top: 10px;
}

#placeholder {
  width: 480px;
  padding: 0px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#placeholder input.text, textarea {
  width: 90%;
}

#placeholder input.button {
  width: 100px;
}

#placeholder div.item {
  border: 1px dotted gray;
  margin-bottom: 5px;
}

#about {

}

#about h2 {
  size: 20px;
  color: white;
}

#about p {
  padding: 10px 10px 10px 10px;
}

#about a {
float: none;
text-decoration: underline;
}

#error {
  width: 480px;
  padding: 0px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#error h2 {
  size: 20px;
  color: white;
}

#error p {
  padding: 10px 10px 10px 10px;
}

#error a {
  float: none;
  text-decoration: underline;
}

#error img {
  padding: 30px 30px 30px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#page_container {
  width: 480px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#page_title {
  width: 480px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#feedback {
  width: 480px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#feedback_content {
  height: 200px;
}
/*
.pagebox {
  margin-bottom: 10px;
  border: 1px solid #444;
  width: 90%;
  height: 50px;
  vertical-align: middle;
}
*/

.pagebox a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  display: block;
  width: 90%;
  border: 1px solid #444;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pagebox a:hover {
  background-color: #222;
}

#message {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  width: 90%;
}

#message p.notice {
  color: green;
  padding: 10px 10px 10px 10px;
}

#message p.error {
  color: red;
  padding: 10px 10px 10px 10px;
}

#message p.warning {
  color: yellow;
  padding: 10px 10px 10px 10px;
}

#message p.warning {
  color: white;
  padding: 10px 10px 10px 10px;
}

#message img {
  display: block;
  padding: 20px;
  margin: auto;
}

.tooltip {
  display:none;
	background:transparent url(../images/tooltip.png);
	font-size:12px;
	height:55px;
	width:260px;
	padding:25px;
	color:gray;	
}

.tooltip h2 {
  padding-bottom: 5px;
  font-size: 14px;
}

.tooltip.bottom {
	background:url(../images/tooltip-bottom.png);
	padding-top:40px;
  width: 260px;
  height: 35px;
}

.overlay {
  display: none;
  z-indez: 10000;
  max-width: 90%;
}

.overlay img {
  width: 100%;
}

.overlay .close {
  background-image: url(../images/close.png);
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}


