<h2>...stolen shots of life</h2>
<p>Usually, cameras are for getting pictures of people giving their best pose. Smiling, making those funny or sad faces, line up like they are giving they best snapshot of their life on that single picture. But you know what? I did like better those stolen shots, though they won’t capture your best faces, but it tells us more than just a simple smile. It gives us story of their life, how they act normally. It does brings out the natural them. And I do really find answers to questions, what makes people happy? What makes people cry? Why are friends that important? But those answers cannot be defined by words, like love, they have no definition at all.</p>
