<div id="header">
  <h1 id="title"><span id="name"><%= APP_CONFIG['global']['name'] %></span> | <%= APP_CONFIG['global']['title'] %></h1>
  <%= render :partial => "shared/menu" %>
  <%= render :partial => "shared/page_title" %>
</div>
