<div class="left">
  <%= image_tag('minions.jpg') %>
</div>

<div class="right">
  <h2>Minions' first attempt of generating Metro UI.</h2>

  So simple, right? well, there are still a lot of things to do here. <br>
  And the inclusion of third color, coming soon.
</div>
