<html>
  <head>
    <title>redport 2.0 - Coming soon</title>
  </head>
  <body>
    <h1>stolenshot - picture the world</h1>
    <hr>
    <center>
      <h3>the minions are working hard to deliver this new evil invention.</h3>
      <img src='images/minions.jpg' alt='minions' />
    </center>
  </body>
</html>

