development:
  global:
    name: marc vitalis
    title: stolen shots
  flickr:
    user_id: [your user id]
production:
  global:
    name: marc vitalis
    title: stolen shots
  flickr:
    user_id: [your user id]
