body {
  font-family:Segoe UI,Tahoma,Arial,Verdana,sans-serif;
}

h1 {
  font-size: 30px;
  padding: 12px;
}

h2 {
  font-size: 24px;
  padding: 12px;
}

#header {
  padding: 6px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ccc,  #fff); /* for firefox 3.6+ */ 
}

#header h1,h3 {
  display: inline;
}

#header h1 {
  color: gray;
  font-size: 24px;
}

#header h3 {
  font-size: 12px;
}

#footer {
  font-size: 12px;
  text-align: center;
}
