@font-face {
  font-family: 'Open Sans';
  src: url('/OpenSans-Light.ttf');
}

body {
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  background-color: white;
  font-size: 14px;
  padding: 20px;
}

#header {
  padding: 0 0 6px 0;

  h1 {
    font-size: 14px;
    display: inline;
  }
  h3
  {
    font-size: 14px;
    color: gray;
    display: inline;
  }
}

#page_header {
  h1 {
    font-size:40px;
    padding: 6px 0 20px 0;
  }
}

#footer {
  clear: both;
  padding: 20px 0 0 0;
}
