body {
  font-family: Segoe UI Light,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 29px;
}

#page {
  width: 1024px;
  margin: 0 auto;
}

#header h1 {
  text-align: center;
  margin: 10px 0;
}

#header h1 p {
  display: inline;
}

#header h1 p.title {
  font-weight: bold;
}

#footer {
  font-size: 12px;
}

#footer p {
  text-align: center;
}

#content div.caption {
  position: relative;
  z-index: 2;
  bottom: 50px;
  height: 50px;
}

.caption-back {
background: black;
width: 100%;
height: 100%;
top: 0px;
opacity: 0.3;
}

.caption-text {
position: absolute;
top: 0px;
padding: 12px;
color: white;
}

.photo img {
  vertical-align: top;
}
