body {
  font-family: Segoe UI Light,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 29px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 12px;
}

#page {
  width: 1026px;
  margin: 0 auto;
}

#header h1 {
  text-align: center;
  margin: 10px 0;
}

#header h1 p {
  display: inline;
  font-size: 26px;
}

#header h1 p.title {
  font-weight: bold;
}

#content {
  display: block;
}

#footer {
  font-size: 12px;
}

#footer p {
  text-align: center;
}

#gallery div.caption {
  position: relative;
  z-index: 2;
  bottom: 50px;
  height: 50px;
}

#gallery img {
  vertical-align: top;
}

#gallery div.caption div.caption-back {
  background: black;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0.5;
}

#gallery div.caption div.caption-text {
  position: absolute;
  top: 0px;
  padding: 6px;
  color: white;
}

.photo {
  float: left;
  width: 330px;
  height: 195px;
  margin: 6px;
}

.photo img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.photo-big {
  float: left;
  width: 672px;
  height: 402px;
  margin: 6px;
}

.photo-big img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

