// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages {
  // Add the pages class to your body tag
  // Then, place scoped styles here.

  h2 {
    font-size: 24px;
    padding: 0 0 12px 0;
  }

  .left {
    float: left;
    padding: 6px;
  }

  .right {
    float: left;
    padding: 6px;
  }
}


