<!DOCTYPE html>
<html>
  <head>
    <title>redport 2.0 - picture the world</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>
